.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eeeeee;
    color: #eeeeee; 
  }
  
  .page-container {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 50px #000;
    text-align: center;
    max-width: 600px;
    color: #eeeeee;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #eeeeee;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #eeeeee;
  }
  
  .club-info {
    margin-top: 20px;
    color: #eeeeee;
  }
  
  img {
    max-width: 80%;
    height: auto;
  }
  
  Link {
    text-decoration: none;
    color: #eeeeee;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  Link:hover {
    background-color: #eeeeee;
    transform: translateY(-100px);
  }
  