.select {
  align-items: center;
}

.barra-select {
  background-color: aqua;
  padding: 5px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  transition: border-color 0.3s;

}

.barra-select:hover {
  border-color: rgb(255, 255, 255);

}