.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.liga {
    background-color: #536b98;
    font-size: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 8px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  


.navbar {
    background-color: #4a6088;
    padding: 20px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    text-transform: uppercase;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
}