/* Estilo del contenedor principal */
.boca-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1d2151; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
  /* Título principal */
  .boca-title {
    font-size: 24px;
    color: white; /* Color del texto */
  }
  
  /* Subtítulo */
  .boca-subtitle {
    font-size: 20px;
    color: black; /* Color del subtítulo */
    margin-top: 20px; /* Espacio superior */
  }
  
  /* Texto general */
  .boca-content p {
    font-size: 16px;
    color: white; /* Color del texto secundario */
    line-height: 1.5;
  }
  
  /* Imagen */
  .boca-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px; /* Espacio superior */
    border-radius: 5px;
  }
  