.card {
  width: 80%;
  margin: 80px auto; 
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 30px;
  box-shadow: 0 10px 50px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  transition: transform 0.2s ease-in-out; 
}

.card:hover {
  transform: translateY(-55px); 
}

.copa-image {
  width: 400px; /* Ajusta el tamaño de la imagen según tus necesidades */
  margin-top: auto; /* Coloca la imagen en la parte inferior */
}

.description {
  font-size: 20px;
  color: #000000;
  width: 100%; /* Ocupa el ancho completo de la tarjeta */
  max-height: 200px; /* Altura máxima de la imagen */
  object-fit: cover; /* Ajusta la imagen para llenar su contenedor */
}

.title {
  font-size: 45px;
  font-weight: bold;
  color: black; 
}

.description {
  font-size: 25px;
  color: #000000; 
  margin-bottom: 16px;
}
