.outer-container {
    padding: 10px 20px; /* Espacio alrededor del contenido */
  }
  
  .page-container {
    text-align: center; /* Centra el contenido */
  }
  
  .reglamento-grid {
    display: flex;
    flex-wrap: wrap; /* Hace que los elementos se envuelvan en filas */
    justify-content: space-between; /* Espacio entre los elementos en la fila */
    gap: 20px; /* Espacio entre los elementos */
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
  }
  
  .reglamento-item {
    text-align: center; /* Centra el contenido */
    max-width: calc(25% - 20px); /* Ancho máximo para mostrar cuatro elementos por fila */
  }
  
  img {
    max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    height: auto;
  }
  
  .reglamento-title {
    color: black; /* Color de texto negro */
    font-size: 14px; /* Tamaño de fuente */
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    text-decoration: none;
  }
  