/* Estilos para el título principal */
.content h1 {
  font-size: 28px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  color:white; /* Color del texto */
}

/* Estilos para el texto principal */
.content p {
  font-size: 18px; /* Tamaño de fuente más grande */
  line-height: 1.5; /* Espaciado entre líneas */
  color: white; /* Color del texto secundario */
}
