.card {
  width: 80%;
  margin: 80px auto; /* Añadido margen inferior para bajar la tarjeta */
  padding: 20px;
  background-color: #3295ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
  transition: transform 0.2s ease-in-out; /* Agregamos una transición */
}

.card:hover {
  transform: translateY(-5px); /* Levantamos la tarjeta 5px al pasar el mouse */
}

.copa-image {
  width: 100%; /* Ocupa el ancho completo de la tarjeta */
  max-height: 200px; /* Altura máxima de la imagen */
  object-fit: cover; /* Ajusta la imagen para llenar su contenedor */
}


.title {
  font-size: 28px;
  font-weight: bold;
  color: black; /* Color azul atractivo */
}

.description {
  font-size: 20px;
  color: white; /* Color de texto oscuro */
  margin-bottom: 16px;
}
