/* Estilo del contenedor principal */
.sanlorenzo-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #5a7cdf; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
    color: white; /* Color del texto */
  }
  
  /* Títulos */
  .sanlorenzo-title {
    font-size: 24px;
    margin-bottom: 10px; /* Espacio inferior */
  }
  
  .sanlorenzo-subtitle {
    color: black;
    font-size: 20px;
    margin-top: 20px; /* Espacio superior */
  }
  
  /* Texto */
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Imagen */
  .sanlorenzo-image {
    width: 300px; /* Ancho fijo */
    height: 200px; /* Alto fijo */
    margin-top: 20px; /* Espacio superior */
    border-radius: 5px;
  }  