.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Esto hará que la barra superior ocupe todo el ancho superior */
}



/* Navbar.css */

/* Estilos para "La Liga" */
.liga {
    background-color: #0e3f9d;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    padding: 8px;
    /* Agrega esta línea para que el texto sea blanco */
}

.navbar {
    background-color: #26baf0;
    color: white;
    padding: 20px;
    position: relative;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    text-transform: uppercase;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}